/* Squarespace Overrides */
main.site-page {
  width: 100%;
  max-width: 100%;
}

/* Centering Form Submission Text */
#yui_3_17_2_1_1613341581131_580 {
  text-align: center;
}

/* Font Size Form Submission Text */
#yui_3_17_2_1_1613341581131_580 p {
  font-size: 1.5rem;
}

/* Line Height Top Right Nav*/
nav.site-navigation div.nav-item {
  line-height: 1.5;
}

/* right-align menu so long item names aren't off the page */
body .nav-wrapper .folder .subnav {
  left: -12.5em !important;
  text-align: right !important;
}
.mobile-bar-wrapper {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
/* max-width: 70% applied at 320-480px we don't want */
.index-item-title {
  max-width: 100%;
}

/* in order to center the hover text with flexbox we need to not use the bg Squarespace applies */
.index-item-title-background .index-item-title .index-item-title-text {
  /* background: transparent;
  padding: 0 !important;
  margin: 0 !important; */
}

/* end Squarespace overrides */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* NOTE: this needs to match the site URL so images will load in the items */
  --base-url: "https://blue-helicon-3bfm.squarespace.com/";

  /* NOTE: do not use rem units, code side doesn't handle */
  --project-list-padding: 20px;
  --project-item-gutter: 20px;

  --animation-time: 0.5s;

  --color-orange: #fd8e17;
  --color-orange-lt: #ffe8a2;
  --color-orange-dk: #ed6e08;
  --color-white: #fff;
  --color-gray-lt: #eaeaea;
  --color-gray-md: #dcdcdc;
  --color-gray-dk: #888;
  --color-black: #333;

  --color-list-bg: transparent;

  background-color: var(--color-white);
}

#Animated-Project-List {
  /* app container */
}

/* not part of Squarespace component */
#Page-Title {
  padding: 1rem;
  margin: 0 0 1rem 0;

  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 3rem;
}

#List-Filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 1rem;
}
#List-Filters button {
  font-size: 5vw;
}
@media screen and (min-width: 400px) {
  #List-Filters button {
    font-size: 4vw;
  }
}
@media screen and (min-width: 500px) {
  #List-Filters button {
    font-size: 3vw;
  }
}
@media screen and (min-width: 600px) {
  #List-Filters button {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 840px) {
  #List-Filters button {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1280px) {
  #List-Filters button {
    font-size: 1.25vw;
  }
}

#Animated-Project-List button {
  padding: 0.25rem 1rem;
  background: transparent;
  color: var(--color-black);
  border: none;

  text-transform: uppercase;
  transition: background-color 0.25s ease;
  font-family: poppins;
  font-weight: 300;
}
#Animated-Project-List button:hover {
  color: var(--color-orange);
  cursor: pointer;
}
#Animated-Project-List button:active {
  /* background-color: var(--color-orange-lt); */
}
#Animated-Project-List button:focus {
  border: none;
  text-decoration: underline;
}
#Animated-Project-List button.selected {
  color: var(--color-orange);
  border: none;
}
#Animated-Project-List button.selected:focus {
  border: none;
  outline: 1px dashed var(--color-white);
  outline-offset: -2px;
}
#Animated-Project-List button.selected:hover {
  cursor: default;
  background-color: transparent;
}

#Animated-List {
  position: relative;
  height: 0;
  padding: var(--project-list-padding) 0;
  background: var(--color-list-bg);

  transition: height var(--animation-time) ease;
}
.animated-list-item {
  position: absolute;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: var(--color-white);
  background-position: center;
  background-size: cover;

  transition: width var(--animation-time) ease,
    transform var(--animation-time) ease, opacity var(--animation-time) ease;
}

.animated-list-item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color var(--animation-time) ease;
}
.animated-list-item a:hover {
  /* background-color: rgba(0, 0, 0, 0.75); */
}
.animated-list-item a > * {
  display: inline-flex;
  margin: 1rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  opacity: 0;
  font-size: 4vw;
  line-height: 1.1;
  /* background: rgba(255, 255, 255, 0.85); /* don't use for Squarespace */

  transition: opacity var(--animation-time) ease;
}
.animated-list-item a:hover > * {
  opacity: 1;
}

.animated-list-item:nth-child(3n + 0) {
  background-color: #facccc;
}
.animated-list-item:nth-child(3n + 1) {
  background-color: #ccfacc;
}
.animated-list-item:nth-child(3n + 2) {
  background-color: #ccccfa;
}
